.fc-web1 {
    
    .fc-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);

        p {
            color: #9D9D9D;
        }
    }
}
